{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Контакты</h1>
    <p>Свяжитесь с нами любым удобным способом:</p>
    <ul>
        <li><strong>Адрес:</strong> г. Москва, ул. Примерная, 1</li>
        <li><strong>Телефон:</strong> +7 (999) 123-45-67</li>
        <li><strong>Email:</strong> info@vkcollege.ru</li>
    </ul>
    <h2>Как нас найти</h2>
    <iframe
        src="https://yandex.ru/map-widget/v1/-/CCU8bGhQ~D"
        width="100%"
        height="400"
        frameborder="0"
        allowfullscreen>
    </iframe>
</div>
{% endblock %}
