{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {{super()}}
    {% endblock %}
</head>
<body>
    {% block body %}
    {{super()}}
    <div class="container">
        <section class="about">
            <h1 style="font-size: 2rem;">О нас</h1>
            <p>«Хранители руин» — это независимое волонтёрское движение, которое с 2020 года заботится об историческом наследии в Калининградской области, а в особенности — о руинах кирх и замков.</p>
            <p>
                Мы считаем, что экспрессивные руины — это изюминка региона, и стремимся их сохранить и подарить им «вторую жизнь» в качестве эстетичных и благоустроенных исторических парков и площадок для мероприятий.
                Каждые выходные мы проводим интересные субботники-перфомансы на ценных исторических памятниках. Уже успели привести в порядок более 50 объектов на 130+ субботниках, в которых поучаствовало более 3000 волонтеров
            </p>
            <p>
                В 2022 году мы зарегистрировали АНО «Хранители руин» и получили 2 субсидии Правительства КО на проведение субботников, а под штаб движения выделили ОКН регионального значения — Железнодорожные ворота.
            </p>
            <p>
                А еще у нас есть краеведческие Прогулки Хранителей по городу и области и Лекторий Хранителей с интересными гидами, историками, архитекторами и другими специалистами.
            </p>
            <p>
                Благодаря Хранителям десятки объектов стали лучше и тысячи людей поучаствовали в сохранении наследия. И вы тоже можете.
            </p>
            <p>
                Следите за анонсами наших мероприятий и присоединяйтесь!
            </p>

        </section>
    </div>
    {% endblock body %}

    {% block footer %}
    {{super()}}
    {% endblock footer %}
</body>
</html>
