<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>VKCollege</title>
    <link rel="stylesheet" href="https://fonts.vk.com/vk-sans/css/vk-sans.min.css">
</head>
<body>
<main>
<section class="hero">
    <h1>День открытых дверей VKCollege</h1>
    <p>Добро пожаловать! Приходите познакомиться с нашим колледжем, преподавателями и студентами.</p>
    <section class="register">
        <a class="register-btn" href="register" target="_blank">Регистрация</a>
    </section>
</section>

<section class="gallery">
    <h2>Фото и моменты</h2>
    <div class="image-grid">
        <!-- Здесь будут изображения -->
    </div>
</section>
</main>
</body>
</html>