{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Ќаправлени€ обучени€</h1>
    <ul>
        <li><strong>»нформационные технологии</strong> Ч программирование, веб-разработка, анализ данных, кибербезопасность.</li>
        <li><strong>ƒизайн и мультимедиа</strong> Ч графический и веб-дизайн, 3D-моделирование, анимаци€.</li>
        <li><strong>ћаркетинг и менеджмент</strong> Ч digital-маркетинг, управление проектами, предпринимательство.</li>
        <li><strong>—оциальные и гуманитарные науки</strong> Ч журналистика, PR, психологи€, педагогика.</li>
    </ul>
</div>
{% endblock %}